@import './base.css';

/* Colores personalizados para roles */
:root {
  --color-administrador: #f7ec41ff;
  --color-gerente: #22c55e8c;
  --color-asistente: #3b82f68c;
  --color-técnico: #ce86098c;
  --color-operador: #8b5cf68c;
  --color-pasante: #ec48998c;
}
